<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css">
    <script src="./script/vue.js"></script>
    <script src="./script/materialize.min.js"></script>
    <link rel="stylesheet" href="./styles/materialize.min.css">
    <link rel="shortcut icon" href="./images/icons/ico.png" type="image/x-icon">
    <title>Jogo de cartas</title>
</head>
<body>
    
    <div class="particlesJS" id="particlesJS"></div>
    <div class="main" id="app">
        <div class="inmain" :style="startStyle">
            <audio class="sound" src="./music/Card-flip-sound-effect.mp3" hidden></audio>
            <audio class="music" loop src="./music/Musica Clássica Medieval.mp3" hidden></audio>
            <header>

                <div class="ViewCardInfo" v-if="cardview">
                    <div class="card-info">
                        <div class="close">
                            <div class="exc" @click="cardview = false">x</div>
                        </div>

                        <template v-if="cardIndez !=8">
                            
                            <div class="title">
                                {{game_data[cardIndez]['quest']}}
                            </div>

                            <div class="content-view">
                                {{game_data[cardIndez]['defini']}}
                            </div>
                        </template>

                        <template v-else>
                            <div class="title">if baiano - campus uruçuca</div>
                            <div class="ifInfo">
                                <ul>
                                    <li>Biologia: <div>3 ano</div></li>
                                    <li>Docente:
                                        <div>J. Luz</div>
                                    </li>
                                    <li>
                                        Discentes:
                                        <div>D. Kelly, M. Santos e T. Passos</div>
                                    </li>
                                </ul>
    
                                <div class="iflogo">
                                    <img src="./images/icons/1200px-Instituto_Federal_Baiano_-_Marca_Vertical_2015.svg.png" alt="">
                                </div>
                            </div>
                        </template>
                    </div>
                </div>

                <div class="readEffect">
                    <div class="abc">
                    </div>
                    <span class="cur">|</span>
                </div>

                <div class="painel">
                    <div class="colors">
                        <template v-for="c, i in backgrounds">
                            <div class="colorof sel" @click='alterBackMain(i)' v-if="recorded['background_main'] == i">
                                <div class="color" :style="`background-image: ${backgrounds[i]};`" ></div>
                            </div>

                            <div v-else @click="alterBackMain(i)" class="colorof">
                                <div class="color" :style="`background-image: ${backgrounds[i]};`" ></div>
                            </div>
                        </template>
                    </div>
                    <div class="iconp" @click="musicTog">
                        <img v-if="mute" src="./images/icons/volume.png" alt="vol">
                        <img v-else src="./images/icons/mute.png" alt="mute">
                    </div>
                </div>

                <div class="p1">    
                    <h1>Jogo da memória - Biologia</h1>
                </div>
                <div class="p2">
                    <div class="instagram icon">
                        <a _blank href="https://ifbaiano.edu.br/portal/" class="if">
                            <img src="./images/icons/if.png" alt="">
                        </a>
                    </div>
                    <div class="instagram icon">
                        <a _blank href="https://www.instagram.com/ifbaiano_urucuca/?hl=sr">
                            <img src="./images/icons/instagram (1).png" alt="">
                        </a>
                    </div>
                    <div class="instagram icon">
                        <a _blank href="">
                            <img src="./images/icons/facebook.png" alt="">
                        </a>
                    </div>
                    <div class="instagram icon">
                        <a _blank href="https://www.youtube.com/watch?v=yqX3HcfCaEk">
                            <img src="./images/icons/youtube.png" alt="">
                        </a>
                    </div>
                </div>
            </header>

            <div class="carrouselin">
                <div class="carousel">
                    <a
                        v-for="c, i in 17"
                        v-if="c % 2 != 0"
                        @click="viewCardInfo(i)"
                        class="carousel-item" href="#one!"><img :src="`./images/${c}.png`"></a>
                </div>
            </div>

            <div class="cartas noCartas">
                <template>
                    <div :class="'one' + selAni(id)" type="quest" v-for="c, id in game_data" @click="closeCard" :id="'_' + id">
                        <div class="carta c1" :id="id">
                            <div class="content">
            
                            </div>
                            <div class="footerc">
                                Genetica
                            </div>
                        </div>
        
                        <div class="carta ccontent" :id="id">
                            <div class="content">
                                {{c['quest']}}
                            </div>
                            <div class="footerc">
                                Genetica
                            </div>
                        </div>
                    </div>
                </template>

                <template>
                    <div :class="'one' + selAni(id)" type="resp" v-for="c, id in game_data" @click="closeCard" :id="'_' + id">
                        <div class="carta c1" :id="id">
                            <div class="content">
            
                            </div>
                            <div class="footerc">
                                Genetica
                            </div>
                        </div>
        
                        <div class="carta ccontent" :id="id">
                            <div class="content">
                                {{c['resp']}}
                            </div>
                            <div class="footerc">
                                Genetica
                            </div>
                        </div>
                    </div>
                </template>
            </div>
            <div class="help">
                <a @click="openHelp" id="menu" class="waves-effect waves-light btn btn-floating" >
                    <i class="material-icons">
                        <img src="./images/icons/help.png" alt="">
                    </i>
                </a>

                <!-- Tap Target Structure -->
                <div class="tap-target" data-target="menu">
                    <div class="tap-target-content">
                        <h5>Síndromes?</h5>
                        <p>
                            As síndromes provocam um conjunto de sinais e sintomas que ocorrem ao mesmo tempo e que podem ter causas variadas, assemelhando-se a uma ou a várias doenças. Costuma-se denominar também de síndrome uma condição que ainda não tem uma causa bem definida
                        </p>
                    </div>
                </div>
            </div>

            <div class="startGame" :style="vhScrean">
                <button @click="startGame">começar jogo</button>
            </div>

            <div class="gainEfect">
                <div class="gainsAll">
                    <template v-for="latter in gainMessage">
                        <div class="out-gain">
                            <div class="gainzero effectGainLatter">
                                {{ latter }}
                            </div>
                        </div>
                    </template>
                    <div class="button-restart">
                        <button @click="toHome">
                            Inicio
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="./script/main.js" async></script>
<script src="./script/mainEfects.js" async></script>
</html>
