* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box !important;
    font-family: Arial, Helvetica, sans-serif !important;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body, html, .main {
    height: 100vh !important;
}


button:active {
    background-color: initial !important;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: rgba(128, 128, 128, 0.13);
}

.main {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.inmain {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0px;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: none;
}

header {
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
    color: black;
    background-color: white;
    box-shadow: 1px 2px 13px rgba(0, 0, 0, 0.123);
    flex-direction: column;
    margin-bottom: 10px;
    padding: 15px;
    position: relative;
    z-index: 10;
}


header .readEffect {
    display: flex;
    align-items: center;
    align-content: center;
}

.readEffect {
    font-size: 20px;
    top: 100px;
    position: fixed;
    font-weight: bold;
}


.readEffect span {
    margin: 1px;
}

.readToggle {
    visibility: hidden;
}




header h1 {
    font-size: 25px;
    padding: 10px;
    text-align: center;
    margin: 0px;
}

header .p2 {
    width: 100%;
    padding: 0px 0px;
    display: flex;
    justify-content: flex-end;
}


header .icon {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}

.icon img {
    width: 30px;
    height: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.651);
    border-radius: 100%;
}

.cartas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    overflow: visible;
    height: 100vh;
    align-content: center;
}


/* control painel */
.painel {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 15px;
    top: 130px;
    z-index: 11;
    border-radius: 4px;
    padding: 3px 10px;
    border: 1px solid rgba(128, 128, 128, 0.288);
}

.painel .iconp {
    width: 30px;
    padding: 7px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.164);
    cursor: pointer;
}

.iconp img {
    width: 100%;
}


.colors {
    margin: 0px 10px 0px 0px;
    padding: 2px 6px;
    display: flex;
    align-items: center;
}

.colorof {
    border-radius: 100%;
    padding: 1px;
    margin: 0px 2px;
}

.colors .color {
    width: 25px;
    height: 25px;
    font-size: 10px;
    font-weight: bolder;
    background-color: grey;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-position: center;
    background-size: 100%;
}

.colors .sel {
    border: 1px solid white;
}

/* card info view */
.ViewCardInfo {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.596);
    top: 0px;
    left: 0px;
    z-index: 12;
    padding: 50px;
    
}


.card-info {
    color: white;
    background-color: black;
    width: 100%;
    height: 100%;
    max-width: 350px;
    max-height: 550px;
    min-width: 200px;
    min-height: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 3px 13px black;
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: cardI 300ms linear;
}

@keyframes cardI {
    from {
        transform: scale(.6);
        opacity: 0;
    }
}

.ifInfo {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.iflogo {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.iflogo img {
    width: 100px;
}
li div {
    text-indent: 40px;
}

.ifInfo li {
    margin-bottom: 15px;
    font-weight: bold;
}

.card-info .close {
    height: 0px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    overflow: visible;
}

.close .exc {
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
    position: relative;
    transform: translate(30px, -12px);
} 

.exc:active {
    transform: scale(.95) translate(30px, -12px);
}

.card-info .title {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
    border-bottom: 1px solid rgba(128, 128, 128, 0.24);
    width: 100%;
    text-align: center;
    padding: 0px 0px 10px 0px;
    margin-bottom: 20px;
}

.card-info .content-view {
    text-align: justify;
    text-indent: 25px;
    font-size: 13px;
    overflow: hidden;
}

/* noCartas */
.noCartas {
    display: none !important;
}

/* carrousel */
.carousel a {
    display: flex;
    align-items: center;
    align-content: center;
}

.carousel {
    z-index: 1;
}
.carrouselin {
    display: flex;
    align-items: center;
    height: 100%;
}

.carousel-item img {
    border-radius: 4px;
    overflow: hidden;
}

.carta {
    background-color: black;
    transition: all 500ms linear;
    background-position: center;
    background-size: 100%;
    padding: 10px;
    width: 13vw;
    min-width: 100px;
    height: 20vw;
    min-height: 150px;
    border-radius: 4px;
    margin: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    backface-visibility: hidden;
    user-select: none;
    pointer-events: none;
    max-width: 150px;
    max-height: 200px;
    position: relative;
}

.one {
    cursor: pointer;
    position: relative;
    z-index: 10;
    overflow: hidden;
}

.StartRight {
    animation: startr1 1500ms ease;
}

@keyframes startr1 {
    from {
        transform: translate(-800px, -800px) rotate(-360deg);
    }
}

.StartLeftbottom {
    animation: start2 1500ms ease;
}

@keyframes start2 {
    from {
        transform: translate(800px, -800px) rotate(360deg);
    }
}
.StartRightbottom {
    animation: startr3 1500ms ease;
}

@keyframes startr3 {
    from {
        transform: translate(-800px, 800px) rotate(-360deg);
    }
}

.StartLefttop {
    animation: start4 1500ms ease;
}

@keyframes start4 {
    from {
        transform: translate(800px, 800px) rotate(360deg);
    }
}

.cartas .c1 {
    position: absolute;
    z-index: 1;
}

.closecard {
    transform: rotateY(180deg);
}

.contentClosexard {
    transform: rotateY(0deg) !important;   
}


.cartas .ccontent  {
    transform: rotateY(-180deg);
}

.cartas .ccontent .content {
    background-image: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
}

.carta .content {
    border: 1px solid rgba(128, 128, 128, 0.164);
    width: 100%;
    height: 90%;
    background-image: url('../images/gene.png');
    background-position: center;
    background-size: 200%;
    background-repeat: no-repeat;
    filter: grayscale(1);
}

.footerc {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 20px;
}

/* particlesJS */
.particlesJS {
    position: fixed;
    top: 10%;
    left: 0px;
    width: 100%;
    height: 90%;
}

/* gainEfect */

.gainEfect {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    font-size: 80px;
    text-transform: capitalize;
    text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.555);
    color: rgb(240, 184, 0);
    font-weight: bolder;
    overflow: hidden;
    width: 100%;
    display: none;
}
.gainsAll {
    display: flex;
    position: absolute;
}

.out-gain {
    width: 15vw;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    pointer-events: none;
}


.gainzero {
    position: absolute;
    display: none
}


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.effectGainLatter {
    animation: gain 1000ms ease-in;
    font-family: 'Josefin Sans', sans-serif !important;
    width: 90px;
    text-align: center;
    font-weight: bolder;
}

@keyframes gain {
    from {
        transform: translateY(calc((102vh / 2) * -1));
    }
}

.button-restart {
    position: absolute;
    width: 100%;
    display: flex;
    left: 0px;
    bottom: -200px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.button-restart button {
    width: 100%;
    max-width: 350px;
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    cursor: pointer;
    animation: restart 1s linear alternate infinite;
    background-color: grey;
    text-transform: uppercase !important;
    border: none;
    border-radius: 4px;
    box-shadow: 1px 2px 13px rgba(0, 0, 0, 0.726);
} 

@keyframes restart {
    from {
        transform: scale(.90);
    }
}

@media (max-height: 720px) {
    .carta  {
        min-height: 110px;
        height: 10vh;
    }
    .carta .content {
        font-size: 10px !important;
    }

    .carta .footerc {
        font-size: 17px;
    }
}


@media (max-width: 570px) {
    
}


/* startGame */
.startGame {
    position: absolute;
    width: 100vw;
    height: calc(100vh);
    justify-content: center;
    align-items: flex-end;
    display: flex;
    padding: 5px 30px;
    top: 0px;
    left: 0px;    
}

.startGame button {
    width: 100%;
    max-width: 500px;
    height: 50px;
    background-color: rgb(196, 99, 75);
    border: none;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.452);
    border-radius: 10px 0px;
    color: black;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;

    animation: btns 600ms linear infinite alternate;
}

@keyframes btns {
    from {
        transform: scale(.95);
    }
}

/* removing card */
.removing {
    animation: rm 2s linear;
}

@keyframes rm {
    to {
        transform: translate(0px, 1600px) rotate(360deg);
    }
}

/* opacityCard */

.opacityCard {
    opacity: 0;
    pointer-events: none;
}


/*help */
.help {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 20;
}


.help #menu .material-icons{
    font-size: 10px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 100%;
}

.help img {
    width: 23px;
}

.tap-target-content {
    padding-left: 70px !important;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.tap-target-content h5 {
    font-size: 18px;
    font-weight: bold;
}

.tap-target-content p {
    text-align: center;
    font-size: 13px !important;
    max-width: 500px;
    display: flex;
    justify-content: center;
    text-align: center;
}
@media (max-width: 790px) {
    .help {
        display: flex !important;
        text-align: center;
        justify-content: center;
        right: calc(50% - 20px);
        bottom: 80px;
    }

    .tap-target-content {
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }

    .tap-target-content p {
        max-width: 400px;
    }

    .out-gain {
        font-size: 70px;
        width: 70px;
    }
}



/* media */
@media (max-width: 500px) {
    .ViewCardInfo {
        padding: 30px;
    }
    .card-info .content-view {
        font-size: 12px;
        
    }


    .out-gain {
        font-size: 60px;
        width: 50px;
    }
    .tap-target-content p {
        max-width: 300px;
    }

}

@media (max-width: 445px) {
    .painel {
        top: 100px;
    }

    .out-gain {
        font-size: 40px;
        width: 40px;
    }

    .carta {
        min-width: 80px;
        min-height: 100px;
    }

    .carta * {
        font-size: 11px !important;
    }

    .card-info .content-view {
        font-size: 11px;
    }
}


@media (max-width: 360px) {
    .carta {
        min-height: 50px;
        min-width: 50px;
        width: 70px;
        height: 80px ;
    }
}

@media (max-width: 345px) {

    .card-info .content-view {
        font-size: 10px;
    }
}



/* help close compornent */
.exithelp {
    display: none !important;
}
